* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/* Colors
NAVY #00506d
GRAY BLUE #6e97aa;
LIGHT BLUE #d3e0e5;
LIME GREEN #c6ba41;
DARK GREEN #5c8641;
ORANGE #dd671e;
*/

/*============================================
*
*         Fonts
*
*
*===========================================*/

body {
	font-family: 'Manjari', sans-serif;
	color: #100906;
}

h1 {
	font-family:'Chango', cursive;
	text-transform: uppercase;
	color: #d3e0e5;
	font-size: 2rem;
	letter-spacing: 1px;
}

h2 {
	font-family: 'Capriola', sans-serif;
	color: #00506d;
	padding-bottom: 5px;
	text-transform: uppercase;
}

h3 {
	color: #c6ba41;
	padding-bottom: 5px;
}

p {
	line-height: 20px;
	font-weight: 400;
}

.button {
	background-color: #dd671e;
  color: white;
	font-weight: bold;
  padding-left: 12px;
	padding-right: 12px;
	padding-top: 13px;
	padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	margin-top: 10px;
	text-transform: uppercase;
}

.button p {
	line-height: 0;
}

.button:hover {
	background-color: #00506d;
}

section {
	padding: 20px 2%;
}

footer {
	background-color: #00506d;
	color: #d3e0e5;
	padding: 20px 2%;
	text-align: center;
}

footer p {
	line-height: 30px;
}

/* MOBILE NAV */
.desktop {
	display: none;
}

nav {
	background-color: #00506d;
	padding: 10px;
	text-align: center;
}

nav img {
	margin: auto;
	max-width: 200px;
}

nav ul a {
	text-decoration: none;
	text-transform: uppercase;
	color: #c6ba41;
	padding: 0 20px;
	font-size: 1.4rem;
}

nav ul {
	display: flex;
	list-style-type: none;
	text-align:center;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav a:hover {
	color: #d3e0e5;
}

/* SUB MENU */
.sub-menu li {
  padding: 10px;
	font-size: 1.3rem;
	color: #d3e0e5;
}

.sub-menu li:hover {
	color: #c6ba41;
}

/* HIDDEN SUB MENU */
.hidden {
  height: 0;
  overflow: hidden;
  transition: all 1s ease-out;
	display:block;
}

/* SHOW SUB MENU */
.show {
  height: 7rem;
  transition: all 1s ease-in;
	display:block;
}

/*============================================
*
*         HOME
*
*
*===========================================*/

.hero {
	text-align: center;
	background-color: #00506d;
	background-image: url(images/hero.jpg);
	background-size: cover;
	padding-top: 90px;
	padding-bottom: 90px;
}

/* INTRO SECTION */
.home-about {
	background-color: #d3e0e5;
}

.home-about h2 {
	text-align: center;
}

.home-about p {
	text-align: center;
}

.plant-img {
	/* max-width: 300px; */
	width: 100%;
	padding-top: 10px;
}

/* ICON SECTION */
.icons {
	max-width: 100px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.icons:hover {
	transform: scale(1.2);
}

.icon-section {
	text-align: center;
}

/* icon text */
.orange {
	color: #dd671e;
	font-weight: bold;
}

/* WEATHER SECTION */
.weather {
	background-color: #c6ba41;
	text-align: center;
}

.weather p {
	color: #51436b;
	font-weight: bold;
	padding-top: 10px;
}

/*============================================
*
*         FOREST
*
*
*===========================================*/

.page-title {
	text-align: left;
	color: #00506d;
}

.forest-hero {
	background-color: #00506d;
	background-image: url(images/trees.jpg);
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 60px;
}

.forest-intro {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.forest-intro h2 {
	padding-bottom: 15px;
}

.forest-intro p {
	font-size: 1.2rem;
	line-height: 25px;
	color: #5c8641;
	font-weight: bold;
}

/* Phases Read More */
.phases {
	background-color: #d3e0e5;
}

.phases img {
	border: 3px solid #5c8641;
	padding-top: 0;
	/* margin: auto;
	/* max-width: 100%; */ */
}

.phases h2 {
	padding-bottom: 15px;
}

.read-more {
	margin-bottom: 20px;
}

/* ACCORDION */

.faq {
	background-color: #6e97aa;
}

.faq h2{
	padding-bottom: 15px
}

button.accordion {
	margin-bottom: 3px;
	padding-bottom: 10px;
}

.accordion {
  background-color: #00506d;
  color: #444;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
	font-size: 1rem;
	color: #c6ba41;
	font-weight: bold;
	font-family: 'Manjari', sans-serif;
}

.panel {
  padding: 0 18px;
  background-color: #d3e0e5;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
	padding: 10px;
}

.active, .accordion:hover {
  background-color: #5c8641;
	color: #d3e0e5;
}

.accordion:after {
  content: '\02795';
  font-size: 16px;
  color: #c6ba41;
  float: right;
  margin-left: 1%;
}

.active:after {
  content: "\2796";
	color: #c6ba41;
}

button.accordion.active::after {
	color: #c6ba41;
}

/*============================================
*
*         VISIT
*
*
*===========================================*/
.visit-hero {
	background-color: #c6ba41;
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 60px;
}

.blurb-one p {
	padding-bottom: 15px;
}

.img-one {
	max-width: 100%;
	text-align: center;
	margin: auto;
}

.visit-one {
	padding-top: 0;
}

.images-center {
	max-width: 600px;
	margin: auto;
}

/* hike heading */
.second-h2 {
	padding-top: 15px;
}

/**********************Start Min-width 700px *******************/
@media (min-width: 700px) {
h1 {
	font-size: 2.8rem;
}

.accordion {
	font-size: 1.2rem;
}

}
/**********************End Min-width 700px *******************/


/**********************Start Min-width 800px *******************/
@media (min-width: 800px) {
/* DESKTOP NAV */
.mobile {
	display: none;
}

.desktop {
	display: flex;
	align-items: center;
	justify-content:space-between;
	align-content: center;
	padding-left: 2%;
	padding-right: 20%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.desktop ul li a {
	font-size: 1.8rem;
	padding: 40px;
}

.desktop a:hover {
	color: #d3e0e5;
}

/* SUB MENU DESKTOP*/
.nav-menu li {
  padding: 10px;
	font-size: 1.3rem;
	color: #d3e0e5;
}

.nav-menu li:hover {
	color: #c6ba41;
}

/* HIDDEN Sub Menu */
.hide {
  height: 0;
  overflow: hidden;
  transition: all 1s ease-out;
	display:block;
}

/* SHOW Sub Menu */
.show-desktop {
  height: 7rem;
  transition: all 1s ease-in;
	display:block;
}

/* HOME - ICONS */
.icon-section {
	display: flex;
	justify-content: space-around;
}

}
/**********************End Min-width 800px *******************/


/**********************Start Max-width 800px *******************/

@media (max-width: 1000px) {

.phases img {
	margin: auto;
	max-width: 100%;
}

}
/**********************End Max-width 1000px *******************/


/**********************Start Min-width 1000px *******************/
@media (min-width: 1000px) {

/* HOME  */
.hero-title {
	font-size: 3.1rem;
}

.page-title {
	font-size: 3.1rem;
}

.hero {
	padding-top: 100px;
	padding-bottom: 100px;
}

.intro {
	display: flex;
	justify-content:center;
	padding-bottom: 0;
}

.blurb {
	max-width: 500px;
	padding-right: 30px;
	padding-top: 50px;
}

.plant-img {
	padding-top: 0px;
}

/* FOREST PAGE  */
.forest-intro {
	padding-left: 25%;
	padding-right: 25%;
}

.phases {
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.contain {
	padding: 1%;
}

.contain img {
max-width: 450px;
}

#open-up, #open-two {
	max-width: 450px;
}

}
/**********************End Min-width 1000px *******************/


/**********************Start Min-width 1200px *******************/
@media (min-width: 1200px) {

/* VISIT US PAGE */
.visit-one {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin: auto;
	padding-bottom: 0;
	padding: 0;
	max-width: 1205px;
}

.blurb-one {
	padding-left: 2%;
	padding-right: 2%;
	flex:1;
}

/* hike heading */
.second-h2 {
	padding-top: 0px;
}

}
/**********************End Min-width 1200px *******************/


/**********************Start Min-width 1300px *******************/
@media (min-width: 1300px) {
	
.contain img {
	max-width: 600px;
}

#open-up, #open-two {
	max-width: 600px;
}

}
/**********************End Min-width 1300px *******************/


/**********************Start Min-width 1600px *******************/
@media (min-width: 1600px) {

#container {
	max-width: 1600px;
	margin: auto;
	border: 1px solid #d3e0e5;
}

}
/**********************End Min-width 1600px *******************/
